
6 course/.ipynb_checkpoints/week1_prepare_dataset-checkpoint.ipynb
6 course/.ipynb_checkpoints/week2_analysis_hypotheses-checkpoint.ipynb
6 course/capstone_user_identification/10users/.DS_Store
6 course/capstone_user_identification/10users/user0031.csv
6 course/capstone_user_identification/10users/user0033.csv
6 course/capstone_user_identification/10users/user0039.csv
6 course/capstone_user_identification/10users/user0050.csv
6 course/capstone_user_identification/10users/user0100.csv
6 course/capstone_user_identification/10users/user0127.csv
6 course/capstone_user_identification/10users/user0128.csv
6 course/capstone_user_identification/10users/user0207.csv
6 course/capstone_user_identification/10users/user0237.csv
6 course/capstone_user_identification/10users/user0241.csv
6 course/capstone_user_identification/150users/.DS_Store
6 course/capstone_user_identification/150users/user0006.csv
6 course/capstone_user_identification/150users/user0013.csv
6 course/capstone_user_identification/150users/user0015.csv
6 course/capstone_user_identification/150users/user0016.csv
6 course/capstone_user_identification/150users/user0028.csv
6 course/capstone_user_identification/150users/user0031.csv
6 course/capstone_user_identification/150users/user0033.csv
6 course/capstone_user_identification/150users/user0039.csv
6 course/capstone_user_identification/150users/user0046.csv
6 course/capstone_user_identification/150users/user0049.csv
6 course/capstone_user_identification/150users/user0050.csv
6 course/capstone_user_identification/150users/user0053.csv
6 course/capstone_user_identification/150users/user0065.csv
6 course/capstone_user_identification/150users/user0066.csv
6 course/capstone_user_identification/150users/user0082.csv
6 course/capstone_user_identification/150users/user0085.csv
6 course/capstone_user_identification/150users/user0089.csv
6 course/capstone_user_identification/150users/user0092.csv
6 course/capstone_user_identification/150users/user0100.csv
6 course/capstone_user_identification/150users/user0102.csv
6 course/capstone_user_identification/150users/user0103.csv
6 course/capstone_user_identification/150users/user0105.csv
6 course/capstone_user_identification/150users/user0106.csv
6 course/capstone_user_identification/150users/user0118.csv
6 course/capstone_user_identification/150users/user0119.csv
6 course/capstone_user_identification/150users/user0120.csv
6 course/capstone_user_identification/150users/user0126.csv
6 course/capstone_user_identification/150users/user0127.csv
6 course/capstone_user_identification/150users/user0128.csv
6 course/capstone_user_identification/150users/user0138.csv
6 course/capstone_user_identification/150users/user0158.csv
6 course/capstone_user_identification/150users/user0160.csv
6 course/capstone_user_identification/150users/user0165.csv
6 course/capstone_user_identification/150users/user0172.csv
6 course/capstone_user_identification/150users/user0177.csv
6 course/capstone_user_identification/150users/user0203.csv
6 course/capstone_user_identification/150users/user0207.csv
6 course/capstone_user_identification/150users/user0223.csv
6 course/capstone_user_identification/150users/user0233.csv
6 course/capstone_user_identification/150users/user0235.csv
6 course/capstone_user_identification/150users/user0236.csv
6 course/capstone_user_identification/150users/user0237.csv
6 course/capstone_user_identification/150users/user0238.csv
6 course/capstone_user_identification/150users/user0240.csv
6 course/capstone_user_identification/150users/user0241.csv
6 course/capstone_user_identification/150users/user0242.csv
6 course/capstone_user_identification/150users/user0245.csv
6 course/capstone_user_identification/150users/user0246.csv
6 course/capstone_user_identification/150users/user0249.csv
6 course/capstone_user_identification/150users/user0252.csv
6 course/capstone_user_identification/150users/user0254.csv
6 course/capstone_user_identification/150users/user0256.csv
6 course/capstone_user_identification/150users/user0258.csv
6 course/capstone_user_identification/150users/user0259.csv
6 course/capstone_user_identification/150users/user0260.csv
6 course/capstone_user_identification/150users/user0261.csv
6 course/capstone_user_identification/150users/user0263.csv
6 course/capstone_user_identification/150users/user0264.csv
6 course/capstone_user_identification/150users/user0269.csv
6 course/capstone_user_identification/150users/user0270.csv
6 course/capstone_user_identification/150users/user0273.csv
6 course/capstone_user_identification/150users/user0287.csv
6 course/capstone_user_identification/150users/user0294.csv
6 course/capstone_user_identification/150users/user0298.csv
6 course/capstone_user_identification/150users/user0301.csv
6 course/capstone_user_identification/150users/user0308.csv
6 course/capstone_user_identification/150users/user0315.csv
6 course/capstone_user_identification/150users/user0318.csv
6 course/capstone_user_identification/150users/user0327.csv
6 course/capstone_user_identification/150users/user0332.csv
6 course/capstone_user_identification/150users/user0333.csv
6 course/capstone_user_identification/150users/user0339.csv
6 course/capstone_user_identification/150users/user0340.csv
6 course/capstone_user_identification/150users/user0342.csv
6 course/capstone_user_identification/150users/user0344.csv
6 course/capstone_user_identification/150users/user0351.csv
6 course/capstone_user_identification/150users/user0356.csv
6 course/capstone_user_identification/150users/user0361.csv
6 course/capstone_user_identification/150users/user0363.csv
6 course/capstone_user_identification/150users/user0411.csv
6 course/capstone_user_identification/150users/user0417.csv
6 course/capstone_user_identification/150users/user0425.csv
6 course/capstone_user_identification/150users/user0430.csv
6 course/capstone_user_identification/150users/user0435.csv
6 course/capstone_user_identification/150users/user0436.csv
6 course/capstone_user_identification/150users/user0440.csv
6 course/capstone_user_identification/150users/user0444.csv
6 course/capstone_user_identification/150users/user0475.csv
6 course/capstone_user_identification/150users/user0476.csv
6 course/capstone_user_identification/150users/user0486.csv
6 course/capstone_user_identification/150users/user0515.csv
6 course/capstone_user_identification/150users/user0533.csv
6 course/capstone_user_identification/150users/user0561.csv
6 course/capstone_user_identification/150users/user0563.csv
6 course/capstone_user_identification/150users/user0564.csv
6 course/capstone_user_identification/150users/user0568.csv
6 course/capstone_user_identification/150users/user0569.csv
6 course/capstone_user_identification/150users/user0570.csv
6 course/capstone_user_identification/150users/user0573.csv
6 course/capstone_user_identification/150users/user0575.csv
6 course/capstone_user_identification/150users/user0576.csv
6 course/capstone_user_identification/150users/user0580.csv
6 course/capstone_user_identification/150users/user0583.csv
6 course/capstone_user_identification/150users/user0584.csv
6 course/capstone_user_identification/150users/user0600.csv
6 course/capstone_user_identification/150users/user0603.csv
6 course/capstone_user_identification/150users/user0605.csv
6 course/capstone_user_identification/150users/user0640.csv
6 course/capstone_user_identification/150users/user0647.csv
6 course/capstone_user_identification/150users/user0653.csv
6 course/capstone_user_identification/150users/user0664.csv
6 course/capstone_user_identification/150users/user0665.csv
6 course/capstone_user_identification/150users/user0677.csv
6 course/capstone_user_identification/150users/user0692.csv
6 course/capstone_user_identification/150users/user0697.csv
6 course/capstone_user_identification/150users/user0705.csv
6 course/capstone_user_identification/150users/user0722.csv
6 course/capstone_user_identification/150users/user0740.csv
6 course/capstone_user_identification/150users/user0741.csv
6 course/capstone_user_identification/150users/user0756.csv
6 course/capstone_user_identification/150users/user0780.csv
6 course/capstone_user_identification/150users/user0784.csv
6 course/capstone_user_identification/150users/user0785.csv
6 course/capstone_user_identification/150users/user0797.csv
6 course/capstone_user_identification/150users/user0812.csv
6 course/capstone_user_identification/150users/user0844.csv
6 course/capstone_user_identification/150users/user0859.csv
6 course/capstone_user_identification/150users/user0868.csv
6 course/capstone_user_identification/150users/user0875.csv
6 course/capstone_user_identification/150users/user0932.csv
6 course/capstone_user_identification/150users/user0996.csv
6 course/capstone_user_identification/150users/user1014.csv
6 course/capstone_user_identification/150users/user1040.csv
6 course/capstone_user_identification/150users/user1054.csv
6 course/capstone_user_identification/150users/user1248.csv
6 course/capstone_user_identification/150users/user1267.csv
6 course/capstone_user_identification/150users/user1299.csv
6 course/capstone_user_identification/150users/user1371.csv
6 course/capstone_user_identification/150users/user1797.csv
6 course/capstone_user_identification/150users/user1798.csv
6 course/capstone_user_identification/150users/user1993.csv
6 course/capstone_user_identification/150users/user2118.csv
6 course/capstone_user_identification/150users/user2174.csv
6 course/capstone_user_identification/150users/user2191.csv
6 course/capstone_user_identification/150users/user2250.csv
6 course/capstone_user_identification/150users/user2355.csv
6 course/capstone_user_identification/150users/user2408.csv
6 course/capstone_user_identification/150users/user2493.csv
6 course/capstone_user_identification/150users/user2625.csv
6 course/capstone_user_identification/150users/user2902.csv
6 course/capstone_user_identification/3users/.DS_Store
6 course/capstone_user_identification/3users/user0001.csv
6 course/capstone_user_identification/3users/user0002.csv
6 course/capstone_user_identification/3users/user0003.csv
6 course/capstone_user_identification/site_freq_10users.pkl
6 course/capstone_user_identification/site_freq_150users.pkl
6 course/capstone_user_identification/site_freq_3users.pkl
6 course/capstone_user_identification/train_data_10users.csv
6 course/capstone_user_identification/train_data_150users.csv
6 course/capstone_user_identification/X_sparse_10users.pkl
6 course/capstone_user_identification/X_sparse_10users_s10_w5.pkl
6 course/capstone_user_identification/X_sparse_10users_s10_w7.pkl
6 course/capstone_user_identification/X_sparse_10users_s15_w10.pkl
6 course/capstone_user_identification/X_sparse_10users_s15_w5.pkl
6 course/capstone_user_identification/X_sparse_10users_s15_w7.pkl
6 course/capstone_user_identification/X_sparse_10users_s5_w5.pkl
6 course/capstone_user_identification/X_sparse_10users_s7_w5.pkl
6 course/capstone_user_identification/X_sparse_10users_s7_w7.pkl
6 course/capstone_user_identification/X_sparse_150users.pkl
6 course/capstone_user_identification/X_sparse_150users_s10_w5.pkl
6 course/capstone_user_identification/X_sparse_150users_s10_w7.pkl
6 course/capstone_user_identification/X_sparse_150users_s15_w10.pkl
6 course/capstone_user_identification/X_sparse_150users_s15_w5.pkl
6 course/capstone_user_identification/X_sparse_150users_s15_w7.pkl
6 course/capstone_user_identification/X_sparse_150users_s5_w5.pkl
6 course/capstone_user_identification/X_sparse_150users_s7_w5.pkl
6 course/capstone_user_identification/X_sparse_150users_s7_w7.pkl
6 course/capstone_user_identification/y_10users.pkl
6 course/capstone_user_identification/y_150users.pkl
6 course/.ipynb_checkpoints/week3_visual_analysis_and_fe-checkpoint.ipynb
6 course/week3_visual_analysis_and_fe.zip
